body{
    background-color: #f5f9fc;
}

.hottopic li .order {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    margin-right: 9px;
    background: #edf1f7;
}
a{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
a:active{text-decoration:none;}
.card{
    border: 0 solid transparent;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.05);
}
.card-header{
    background-color: #fff;
    border-bottom: 0 solid transparent
}
.jumbotron{
    margin-bottom: 20px;
    background-color: #10334c;
    color: white;
}
.text-logo{
    height: 1.4em;
    width: 1.4em;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
}
.text-hottitle{
    height: 1.2em;
    width: 1.2em;
    margin-left: -0.15rem;
    margin-right: 0.375rem;
    margin-bottom: 0.125rem;
}
.card .card10{
    height: 543px;
}
.hottopic .list-group-item{
    border-bottom: 1px dashed #a4a9ab;
}

