{% extends 'weiboreach/base_main.html' %}
{% block title %}
    舆情总览
{% endblock %}
{% block content %}
 <div class="content">
    <div class="p-0 container-fluid">
        <div class="mb-2 mb-xl-4 row">
                    <div class="d-none d-sm-block col-auto">
                        <h4>新冠肺炎疫情舆情分析</h4>
                    </div>
                </div> <!--- 欢迎语 --->
        <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="card-title mb-0 mt-md-1 ml-2"><i class="text-title">疫情概要</i><!---<span class="content-title font-weight-bold font-italic">{{ hId }}<span class="badge badge-danger ml-2">hot</span></span>---><span class="float-right badge badge-primary mr-2">{{ weiboTime }}</span></div>
                     <div class="card-body article-body">{{ weiboContent }}</div>
                 </div>
             </div>
        </div> <!--- 话题导语 --->
        <!---
        <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="card-title mb-0 mt-md-1 ml-2"><i class="text-title">疫情概要</i></div>
                     <div class="card-body article-body">{{ weiboContent }}</div>
                 </div>
             </div>
        </div>
        --->
        <div class="row">
                    <div class="col-md-6 col-xl">
                        <div class="flex-fill card">
                            <div class="py-4 card-body">
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <svg class="bi bi-file-richtext feature-lg text-primary" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
</svg>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="mb-2">
                                            {{ weiboPostSum }}
                                        </h3>
                                        <div class="mb-0 text-description">博文数</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl">
                        <div class="flex-fill card">
                            <div class="py-4 card-body">
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <svg class="bi bi-people feature-lg text-info" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z" clip-rule="evenodd"/>
</svg>

                                    </div>
                                    <div class="media-body">
                                        <h3 class="mb-2">
                                            {{ participantSum }}
                                        </h3>
                                        <div class="mb-0">参与人数</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl">
                        <div class="flex-fill card">
                            <div class="py-4 card-body">
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
{#                                        <svg class="bi bi-reply feature-lg text-warning" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
{#  <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 00-.202.134V6.3a.5.5 0 01-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 011.921-.306 7.403 7.403 0 01.798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 01.45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 01.042-.028.147.147 0 000-.252.494.494 0 01-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 00-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 01-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 011.767-.96l3.994 2.94a1.147 1.147 0 010 1.946l-3.994 2.94a1.144 1.144 0 01-1.767-.96v-.667z" clip-rule="evenodd"/>#}
{#</svg>#}<i class="fa fa-share-square-o feature-lg text-warning" style="font-size:44px" aria-hidden="true"></i>

                                    </div>
                                    <div class="media-body">
                                        <h3 class="mb-2">
                                            {{ weiboRepostSum }}
                                        </h3>
                                        <div class="mb-0">转发数</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl">
                        <div class="flex-fill card">
                            <div class="py-4 card-body">
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <svg class="bi bi-chat-square-dots feature-lg text-success" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v8a1 1 0 001 1h2.5a2 2 0 011.6.8L8 14.333 9.9 11.8a2 2 0 011.6-.8H14a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v8a2 2 0 002 2h2.5a1 1 0 01.8.4l1.9 2.533a1 1 0 001.6 0l1.9-2.533a1 1 0 01.8-.4H14a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
  <path d="M5 6a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/>
</svg>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="mb-2">
                                            {{ weiboCommentSum }}
                                        </h3>
                                        <div class="mb-0">评论数</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-xxl-flex col-md-6 col-xl">
                        <div class="flex-fill card">
                            <div class="py-4 card-body">
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <svg class="bi bi-heart feature-lg text-danger" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
</svg>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="mb-2">
                                           {{ weiboLikeSum }}
                                        </h3>
                                        <div class="mb-0">点赞数</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--- 话题总体信息 --->
        <div class="row"> <!--- 内容评价+用户总评+影响度 --->
            <div class="d-flex col-lg-12"> <!--- 内容评价+用户总评 --->
                <div class="flex-fill w-100 card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                                    <!---指标说明--->
                                    <div class="modal-Indexinfo" data-toggle="modal" data-target="#IndexInfoModal">
                                        <a class="text-primary">
                                            <svg class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
  <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                        </a>
                                    </div>
                                    <div class="modal fade" id="IndexInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                     <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLabel">指标说明</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                               <span aria-hidden="true">&times;</span>
                                                          </button>
                                                     </div>
                                                     <div class="modal-body">
                                                         <p>情感值：对该微博的转发文本进行自然语言处理后, 所得出的情感倾向判断</p>
                                                         <p>内容评价：消息传播的穿透力</p>
                                                         <p>认证比例：微博认证用户</p>
                                                         <p>用户质量：二级粉丝计算</p>
                                                     </div>
                                                     <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                     </div>
                                                </div>
                                           </div>
                                     </div>
                                </div>
                        <svg class="bi bi-list-check text-primary" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM3.854 2.146a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 3.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 7.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z" clip-rule="evenodd"/>
</svg>
                        <h5 class="mb-0 card-title d-inline-block">疫情整体指标分析</h5>
                    </div>
                    <div class="d-flex card-body">
                        <div class="flex-fill col-8">
                            <table class="my-0 table">
                                   <thead>
                                   <tr>
                                       <th>Index</th>
                                       <th class="w-75">Value</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr title="参与度" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="用户参与比例">
                                       <td>
                                           <svg class="bi bi-chat-dots-fill text-info mr-2" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
</svg>参与度</td>
                                       <td>
                                           <div class="progress">
                                             <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ weiboContentEvaluation }}%">{{ weiboContentEvaluation }}分</div>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr title="情感值" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="情感强度">
                                       <td>
                                           <svg class="bi bi-heart-fill text-danger mr-2" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
</svg>情感值</td>
                                       <td>
                                           <div class="progress">
                                             <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ weiboSentimentVal }}%">{{ weiboSentimentVal }}分</div>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr title="用户质量" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="用户粉丝质量">
                                       <td><svg class="bi bi-person-check-fill mr-2" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm9.854-2.854a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 7.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
</svg>用户质量</td>
                                       <td>
                                           <div class="progress">
                                             <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ weiboUserQuality }}%">{{ weiboUserQuality }}分</div>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr title="认证比例" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="认证比例">
                                       <td><svg class="bi bi-award-fill text-warning mr-2" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
</svg>认证比例</td>
                                       <td>
                                           <div class="progress">
                                             <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ authenticationRatio }}%">
                                                 {{ authenticationRatio }}%</div>
                                           </div>
                                       </td>
                                   </tr>

                                   </tbody>
                               </table>
                        </div>
                        <div class="flex-fill col-4">
                            <div class="align-self-center w-100">
                                <div class="chart chart-md">
                                    <canvas id="chartjs-overview-radar"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside data-pushbar-id="right" class="pushbar from_right">
		<div class="pushbar_card_title text-secondary text-center"><span data-pushbar-close class="pushbar_card_close push_right"></span>疫情大事记</div>
			<ul class="timeline mb-0 ml-3 mr-1">
                <li class="timeline-item">
                    <strong class="text-primary">2020-01-05</strong>
                    <span class="float-right text-muted text-sm">2020-01-05</span>
                    <p>复旦大学张永振团队从武汉市样本中检测出一种新型非典样冠状病毒，获得病毒全基因组序列</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-01-07</strong>
                    <span class="float-right text-muted text-sm">2020-01-07</span>
                    <p>中共中央总书记习近平主持召开中共中央政治局常委会，对疫情防控工作提出了要求</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-01-09</strong>
                    <span class="float-right text-muted text-sm">2020-01-09</span>
                    <p>“武汉病毒性肺炎病原检测结果初步评估专家组”正式宣布此病病原体为新型冠状病毒</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-01-10</strong>
                    <span class="float-right text-muted text-sm">2020-01-10</span>
                    <p>世卫组织发声不建议对旅行者采取任何具体卫生措施，不要对中国实施任何旅行或贸易限制措施</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-02-27</strong>
                    <span class="float-right text-muted text-sm">2020-02-27</span>
                    <p>因日本疫情持续加剧，为了防止新冠肺炎在日本进一步扩散，日本内阁总理大臣（首相）安倍晋三在27日下午召开的政府对策本部会议上，提出了要求全国的小学、初中、高中停课的要求。从3月2日起，全国公立小、初、高学校均临时停课放假，直至春假结束。同时政府已向各体育团体和文化团体下达通告，要求3月15日前停办所有大型活动和公演</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-02-29</strong>
                    <span class="float-right text-muted text-sm">2020-02-29</span>
                    <p>世界卫生组织总干事谭德塞在日内瓦宣布，将疫情全球风险级别由此前的“高”上调至“非常高</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-03-04</strong>
                    <span class="float-right text-muted text-sm">2020-03-04</span>
                    <p>疫情在意大利迅速扩散，意大利政府决定从即日起两周内关闭全国各地所有学校[428]。并且关闭所有除药店和超市之外的所有的其他商铺。截至3月3日，意大利全国共有2,036个确诊病例，其中83人康复出院</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-03-08</strong>
                    <span class="float-right text-muted text-sm">2020-03-08</span>
                    <p>中国现有确诊人数首次降至20000人以下，同时外国现有确诊人数超过20000人，首次超过中国</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-03-10</strong>
                    <span class="float-right text-muted text-sm">2020-03-10</span>
                    <p>意大利将封锁隔离措施扩大至全国。意大利部长会议主席（总理）康特宣布从当日起限制整个意大利的人员移动，除非有紧急的健康或工作原因，意大利人被告知不要离家[434]。截止当日，意大利全国已有9,172例确诊，463例死亡病例</p>
                </li>
                <li class="timeline-item">
                    <strong class="text-primary">2020-03-20</strong>
                    <span class="float-right text-muted text-sm">2020-03-20</span>
                    <p>世卫组织总干事谭德塞在例行记者会上表示，目前123个国家和地区向世卫组织报告了13.2万多例COVID-19病例，死亡人数已超过5000人，这是一个令人悲伤的重大数据。欧洲现在已经成为大流行瘟疫的中心，报告的病例和死亡人数超过了除中国以外世界其他地区的总和</p>
                </li>

            </ul>
</aside>
<div class="setting">
    <div class="settings-toggle" data-pushbar-target="right" data-toggle="tooltip" data-placement="top" title="疫情大事记">
        <svg class="bi bi-flag" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z" clip-rule="evenodd"/>
</svg>
    </div>
</div>
{% endblock %}
{% block chartjs %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
});
</script>
<script type="text/javascript">
	var pushbar = new Pushbar({
		blur:true,
		overlay:true,
	});
</script>
<script>
$(function () {
    new Chart(document.getElementById('chartjs-overview-radar'), {
        type: "radar",
        data: {
            labels: ["内容总评", "情感值", "用户质量", "认证比例"],
            datasets: [{
                label: "实际值",
                backgroundColor: "rgba(0, 123, 255, 0.2)",
                borderColor: "#2979ff",
                pointBackgroundColor: "#2979ff",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "#2979ff",
                data: {{ overallIndex }}
            },
                {
                label: "标准值",
                backgroundColor: "rgba(0, 123, 255, 0.2)",
                borderColor: "#ff1400",
                pointBackgroundColor: "#ffcc5e",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "#2979ff",
                data: [99, 78, 85, 79]
            }
            ]
        },
        options: {
            maintainAspectRatio: false,
            legend: {
                position: 'top'
            }
        }
});
});
</script>
{% endblock %}
